### e2studio ###
# Modified gitignore for Renesas E2Studio (Built on eclipse): maintain all data needed by eclipse to setting up a workspace.
#some crap
Debug
ra
ra_cfg
ra_gen
#settings
.settings

.history
*.tmp
*.obj
*.log
history.index

# E2 Studio Specific
HardwareDebug/src